.table {
    width: 100%;
    border-collapse: collapse;
}

.table th,
.table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.table th {
    background-color: #007bff;
    color: white;
}

.btn {
    margin-left: 48px;
}